html {
  font-size: 62.5%;
}

body {
  background: black;
  color: rgb(230, 217, 217);
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* MAIN */
.introduction {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-text {
  text-align: center;
  font-size: 3.5rem;
  margin: 0 15%;
}

.adg-logo-about {
  margin: 0.5rem 0 0 0;
  height: 6rem;
  width: 6rem;
}

.mission-text {
  width: 50%;
}

.mission {
  display: flex;
  height: 100vh;
  margin: 0 5%;
  align-items: center;
}

.vission {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  margin: 0 5%;
  align-items: center;
}

.title {
  font-weight: 1500;
  font-size: 11.5rem;
  text-align: left;
}

.img {
  width: 50%;
  margin: 0 3% 0 0;
}

.image {
  width: 100%;
}

.padding {
  padding-top: 5%;
}

.text {
  font-size: 3rem;
}

@media screen and (min-width: 800px) and (max-width: 1023px) {
  .introduction {
    height: 150vh;
  }

  .intro-text {
    font-size: 2rem;
    margin: 0 5%;
  }

  .mission {
    flex-direction: column;
    height: 200vh;
    justify-content: center;
  }

  .vission {
    flex-direction: column;
    justify-content: center;
    height: 200vh;
  }

  .title {
    font-size: 6rem;
    text-align: center;
  }

  .mission-text {
    width: 100%;
  }

  .img {
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .intro-text {
    font-size: 2rem;
    margin: 0 5%;
  }

  .mission {
    flex-direction: column;
    justify-content: center;
    height: 185vh;
  }

  .vission {
    flex-direction: column;
    justify-content: center;
    height: 185vh;
  }

  .title {
    font-size: 6rem;
    text-align: center;
  }

  .mission-text {
    width: 100%;
  }

  .img {
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  .introduction {
    height: 110vh;
  }

  .intro-text {
    font-size: 2rem;
    margin: 0 5%;
  }

  .mission {
    flex-direction: column;
    justify-content: center;
    height: 150vh;
  }

  .vission {
    flex-direction: column;
    justify-content: center;
    height: 150vh;
  }

  .title {
    font-size: 6rem;
    text-align: center;
  }

  .mission-text {
    width: 100%;
  }

  .img {
    width: 100%;
    text-align: center;
  }

  .text {
    font-size: 2rem;
    text-align: center;
  }
}
/* MAIN Ends */
