html {
  font-size: 62.5%;
}

body {
  background: black;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.center {
  text-align: center;
}

.icon {
  max-width: 250px;
  max-height: 250px;
}

.lead {
  font-size: 30px;
  text-align: center;
  margin: 5%;
}

.title-logo {
  max-width: 500px;
  max-height: 500px;
}

.heading {
  font-size: 60px;
  margin-bottom: 1.5%;
}

.main-sponsor {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5%;
}

.under-kinda-main-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5%;
}

.kinda-main-sponsors {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.other-sponsors {
  margin-top: 50px;
}

.row {
  width: 100%;
  height: 28vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 320px) {
  .main-sponsor {
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 40% 0;
  }

  .heading {
    text-align: center;
    margin-top: 0 10% 0 0;
  }

  .title-logo {
    margin-top: 50%;
  }

  .title-logo {
    max-width: 250px;
    max-height: 250px;
  }

  .icon {
    max-width: 150px;
    max-height: 150px;
  }

  .kinda-main-sponsors {
    height: 200vh;
    display: flex;
    flex-direction: column;
    font-size: 21px;
    margin: 0 0 40% 0;
  }

  .row {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 321px) and (max-width: 760px) {
  .main-sponsor {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .heading {
    text-align: center;
    margin-top: 0 10% 0 0;
  }

  .title-logo {
    margin-top: 20%;
  }

  .title-logo {
    max-width: 250px;
    max-height: 250px;
  }

  .icon {
    max-width: 150px;
    max-height: 150px;
  }

  .kinda-main-sponsors {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    margin: 0;
  }

  .row {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .other-sponsors {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1224px) {
  .main-sponsor {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .heading {
    text-align: center;
    margin-top: 0 10% 0 0;
  }

  .title-logo {
    margin-top: 10%;
  }

  .title-logo {
    max-width: 250px;
    max-height: 250px;
  }

  .icon {
    max-width: 150px;
    max-height: 150px;
  }

  .kinda-main-sponsors {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    margin: 0;
  }

  .row {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
