html {
  font-size: 62.5%;
}

body {
  background: black;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.icon {
  max-width: 25rem;
  max-height: 25rem;
}

.partners {
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
}

.card {
  width: 33.33%;
  text-align: center;
  margin: 5% 0;
}

@media only screen and (max-width: 320px) {
  .icon {
    max-width: 15rem;
    max-height: 15rem;
  }
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 760px) {
  .icon {
    max-width: 15rem;
    max-height: 15rem;
  }
  .card {
    width: 100%;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1224px) {
  .icon {
    max-width: 15rem;
    max-height: 15rem;
  }
  .card {
    width: 50%;
  }
}
