 /*.big {
    background-color: white;
    overflow: hidden;
}

.big a {
    float: right;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    padding-left: 5px;
}

.big a:hover {
    background-color: rgba(201, 208, 241, 0.575);
    color: black;
}

.big a.active {
    background-color: white;
    color: black;
}
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: black;
    overflow: hidden;
}
.logo{
    display: flex;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-size: 20px;
    width: 65%;
    margin-bottom: 1.5vh;
}
.index{
    text-decoration: none;
    outline: none;
    color: white;
    display: flex;
}
/* .index:hover{
    color: black;
    text-decoration: none;
} */
.adg-logo{
    width: 300px; 
    /* height: 300px;  */
    margin-top: 1vh;
    margin-left: 10px;
    overflow: hidden;
}
.hd1{
    margin-top: 15px;
    margin-left: 2vh;
    word-spacing: 3px;
    letter-spacing: 2px;    
}
.heading
{
    padding-bottom: 20px;
}
.text
{
    color:white;
    font-size: 60px;
    text-align:center;
    padding-top: 5%;
    background: linear-gradient(to bottom right, rgb(101, 195, 233), rgb(66, 83, 231));
    width: 100%;
    /* height: 200px; */
    font-weight: bold;
    padding-bottom: 5%;
}
.nav-links
{
    display: flex;
    width: 35%;
    /* background-color: red; */
    justify-content: space-around;
    /* margin-left: 40vw; */
    margin: 0 0 5px 0;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    /* margin: 10px 10px 10px 20px; */
}
.nav-links a:hover{
    color: #0066ff;
    font-size: 25px;  
}
.burger{
    display: none;
    cursor: pointer;
    margin-right: 20px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #0066ff;
    margin: 5px;
    transition: 0.3s;
}

.about_us {
    background: rgb(47, 166, 187);
    font-size: 5vw;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: bold;
}

.textsection1 {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: justify;
    text-decoration: none;
}

.container {
    padding-top: 4%;
    text-align: justify;
    padding-bottom: 4%;
}

.image1 {
    /* background-image: url(image1.png); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0%;
}

.image2 {
    /* background-image: url(image2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 0%;
}

.text2 {
    font-size: 4vw;
    color: black;
    margin: 0%;
    padding: 0%;
    text-decoration: bold;
    line-height: 90%;
}


.black {
    background: black;
    color: white;
}

.footer {
    width: 100%;
    background: #121212;
    display: block;
}

.inner-footer {
    width: 95%;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    height: auto;
}

.footer-items {
    width: 33%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.foot1{
    margin-right: 100px;
}
h1 {
    padding: 6px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items p {
    color: #fff;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

ul {
    list-style: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: rgb(212, 209, 209);
    transition: 0.3s;
}

ul li {
    margin: 5px 0;
    height: 25px;
}

.social-media {
    width: 100%;
    color: rgb(212, 209, 209);
}

.social-media a {
    text-decoration: none;
}

.social-media i {
    height: 30px;
    width: 30px;
    margin-right: 40px;
    color: rgb(212, 209, 209);
    transition: 0.3s;
}

.social {
    font-size: 18px;
}

.social li {
    margin-bottom: 15px;
}

.footer-bottom {
    padding: 10px;
    text-align: center;
    background: #121212;
    color: #fff;
    font-size: 12px;
}

#grad {
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(101, 195, 233), rgb(66, 83, 231));
}

@media screen and (max-width:1080px) {
    body{
        overflow-x: hidden;
    }
    .logo{
        width: 60%;
        margin-right: 94px;
    }
    .nav{
        width: 10%;
    }
    .heading{
        text-align: center;
        font-size: 6vh;
    }
    .hd1{
        font-size: 15px;
    }
    .adg-logo{
        margin-top: 2vh;
        margin-left: 5px;
    }
    .nav-links{
        position: absolute;
        right: 0px ;
        height: 50vh;
        top: 8vh;
        background-color: #f3f4f7;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a{
        color: black;
        text-decoration: none;
        /* letter-spacing: 3px; */
        font-weight: bold;
        font-size: 15px;
        padding: 20px 120px;
    }
    .burger{
        display: block;
    }
    .nav-links li{
        opacity: 0;
    }
    .head1{
        margin: 0px;
    }
    .foot1{
        margin-right: 50px;
    }
    .text
    {
        /*text-align: center;*/
        font-size: 5vh;
        padding-bottom: 15%; 
        height: 75px;
    }
    
}

@media screen and (max-width:600px) {
    /* .inner-footer{
        height: 250px;
    } */
    .adg-logo{
        /* width: 300px; 
        height: 300px;  */
        margin-top: 2vh;
        margin-left: 5px;
    }
    .heading{
        text-align: center;
        /* margin-top: 15px; */
        font-size: 4vh;
       
    }
    .text{
        padding: 2.5% 0;
        text-align: center;
        font-size: 40px;
        height: auto;  
    }
    /* .footer-items{
        width: 100%;
        padding: 5px 20px;
    } */
    .footer-items:nth-child(1){
        width: 100%;
        padding: 0;
    }
    .footer-items:nth-child(2){
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .footer-items:nth-child(3){
        width: 50%;
        padding: 0;
        margin: 0;
    }
    
    .foot1{
        margin-right: 0px;
    }
    .hd1{
        font-size: 17px;
        letter-spacing: 0;
        margin-left: 10px;
    }
    .text2{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .textsection1{
        height: 40vh;
    }
    
}

.nav-active{
    transform: translate(0%);
    display: flex;
    /* visibility: visible; */
}
@media screen and (max-width:400px)
{
    .adg-logo {
        /* width: 37px;
        height: 35px; */
        /* margin-top: 2vh; */
        margin-left: 5px;
    }
    .hd1{
        font-size: 13px;
    }
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#0066ff);
    border-radius: 6px;
    height: 100px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00c6ff);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}