*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    font-family: 'Roboto', sans-serif;
}
/* .parent {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }
  section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
  } */
nav{
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #fff;
}
.index{
    text-decoration: none;
    outline: none;
    color: black;
    display: flex;
}
.logo{
    display: flex;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-size: 20px;
    width: 60%;
    margin-bottom: 1.5vh;
}
.adg-logo{
    width: 35px; 
    height: 35px; 
    margin-top: 1vh;
    margin-left: 2vw;
    overflow: hidden;
}
.hd1{
    margin-top: 15px;
    margin-left: 2vh;
    word-spacing: 3px;
    letter-spacing: 2px;
}
.nav-links
{
    display: flex;
    width: 40%;
    justify-content: space-around;
    /* margin-left: 40vw; */
    
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    /* padding: 10px 7px 5px 15px; */
}
.nav-links a:hover{
    color: #0066ff;
    /* background: #488aec ; */
    font-size: 25px;
    letter-spacing: 8px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: #0066ff;
    margin: 5px;
    transition: 0.3s;
}

.cover{
    /* width: 100%; */
    background:url(/assets/IMG_5508_home.png)  ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 92vh;
    /* overflow: hidden; */
}
.txt{
    text-align: center;
    padding-top: 44vh;
    /* font-size: 8vh; */
    /* padding: 0;
    margin: 0; */
    /* position: absolute; */
    font-size: 50px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    font-weight: 500;
    color: white;
    letter-spacing: 0.1em;
    /* animation-name: fadeinBig;
    animation-duration: 1.5s;    */
}
/* @keyframes fadeinBig {
    from{
        transform: translateX(-150px);
        opacity: 0;
        font-size: 0px;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        font-size: 50px;
    }
} */
.heading1{
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 3.5em;
    color: black !important;
    letter-spacing: 0.08em;
}
.column{
    width: 50%;
    float: left;
    padding: 15px 10px;
    overflow-x: hidden; 	
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.card
{
    box-shadow: 0px 0px 50px rgba(103, 75, 231, 0.103);
    width: 22vw;
    height: 39.5vh;
    margin: 0px 14vw;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 15px;
    overflow: hidden
}
.img2{
    width: 100px; 
    height: 100px; 
    /* padding-top: 10px;  */
    margin: 25px 20px;
}
.title{
    color: black;
    font-size: 20px;
    margin: 20px 0 10px 0;
    padding: 0 10px;
}
.events{
    text-decoration: none;
    outline: none;
    color: black;
}
/* .head1{
    margin: 20px;
} */
.hd{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 40px 50px;
}

.column2{
    width: 20%;
    float: left;
    padding: 30px 10px;
}

.card2
{
    /* box-shadow: 0 4px 8px 0 rgb(0, 0, 0); */
    max-width: 40vw;
    height: auto;
    /* margin-top: 15px; */
    background-color: white;
    text-align: center;
    /* border-radius: 35px; */
    padding-bottom: 15px;
}
.title2{
    color: black;
    font-size: 20px;
    margin: 20px;
    text-justify: auto;
}
.img3{
    width: 100px; height: 100px; padding-top: 10px; margin: 30px;
}
.footer{
    width: 100%;
    background: black;
    display: block;
}
.inner-footer{
    width: 95%;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    /* text-align: center; */
    /* height: 32vh; */
}
.footer-items{
    width: 33%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.foot1{
    margin-right: 80px;
}
/* .foot2{
    margin-left: 10vw;
}
.foot3{
    float: right;
} */
h1{
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.footer-items p{
    color: rgb(212, 209, 209);
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
}
ul{
    list-style: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
}
ul a{
    text-decoration: none;
    outline: none;
    color: rgb(212, 209, 209);
    transition: 0.3s;
}
ul li{
    margin: 5px 0;
    display: flex;
}
.social-media{
    width: 100%;
    color: rgb(212, 209, 209);
}

.social-media a{
    text-decoration: none;
}
.social-media i{
    height: 30px;
    width: 30px;                                                                                                                                                                                                                                                                                                                                                                            
    margin-right: 40px;
    margin-top: 1vh;
    color: rgb(212, 209, 209);
    transition: 0.3s;
    padding: 0;
    /* display: flexbox; */
    float: left;
}
.social{
    font-size: 18px;
    /* display: flex; */
}
.social li{
    margin-bottom: 15px;
}
.footer-bottom{
    padding: 10px;
    text-align: center;
    background: black;
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width:1080px)
{
    body{
        overflow-x: hidden;
    }
    .adg-logo{
        width: 50px; 
        height: 40px; 
        margin-top: 2vh;
        margin-left: 5px;
    }
    .logo{
        width: 60%;
        margin-right: 94px;
    }
    .nav{
        width: 10%;
    }
    .nav-links{
        position: absolute;
        right: 0px ;
        height: 50vh;
        top: 8vh;
        background-color: #f3f4f7;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links a{
        color: black;
        text-decoration: none;
        /* letter-spacing: 3px; */
        font-weight: bold;
        font-size: 15px;
        padding: 0;
    }
    .burger{
        display: block;
    }
    .nav-links li{
        opacity: 0;
    }
    
    .card{
        width: 40vw;
        height: 40vh;
        margin: 0 5vw;
        padding: 0;
    }
    .column2{
        width: 50%;
        align-items: center;
    }
    /* .column2:nth-child(5){
        width: 100vw;
        margin: 0 30vw;    
    }
  
    .card2{
        margin: 0;
    } */
    .head1{
        margin: 0px;
    }
    .foot1{
        margin-right: 50px;
    }

}
@media screen and (max-width:600px)
{
    
    
    .adg-logo{
        width: 50px; 
        height: 40px; 
        margin-top: 2vh;
        margin-left: 5px;
    }
    .txt{
        text-align: center;
    padding-top: 44vh;
    font-size: 24px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.1em;
    /* animation-name: fadein;
    animation-duration: 1.5s; */
    }
    
    .hd1{
        font-size: 17px;
        letter-spacing: 0;
        margin-left: 10px;
        /* word-spacing: 0px; */
        /* letter-spacing: 0px; */
    }
    .img2{
        margin: 20px;
    }
    .heading1{
        text-align: center;
        /* margin-top: 15px; */
        font-size: 2em;
    }
    .title{
        margin: 5px 0;
    }
    .head1{
        margin-top: 3vh;
        margin-bottom: 2.5vh;
    }
    .column{
        width: 100%;
        display: block;
        align-items: center;
        align-content: center;
        padding: 2vh 0px;
        /* margin-bottom: 10px; */
        /* margin-left: 18%;
        margin-right: 18%; */
    }
    .card{
        margin: 0vh 10vw;
        width: 80vw;
        height: 40vh;
        align-items: center;
        align-content: center;
    }
    
    .card2{
        margin: 0vh 10vw;
        max-width: 80vw;
        align-items: center;
        align-content: center;
    }
    .column2{
        width: 100%;
        align-items: center;
        align-content: center;
        padding: 1vh   0px;
        /* padding: 15px 10px; */
        /* margin-left: 27%;
        margin-right: 27%; */
    }
    .footer-items{
        width: 100%;
        padding: 5px 20px;
    }
    .foot1{
        margin-right: 0px;
    }
    .img3{
        margin: 15px;
    }
}
.nav-active{
    transform: translate(0%);
    display: flex;
    /* visibility: visible; */
}
/* @keyframes fadein {
    from{
        transform: translateX(-150px);
        opacity: 0;
        font-size: 0px;
    }
    to{
        transform: translateX(0);
        opacity: 1;
        font-size: 24px;
    }
} */
@media screen and (max-width:400px)
{
    .card{
        margin: 0vh 10vw;
        width: 80vw;
        height: 42vh;
        align-items: center;
        align-content: center;
    }
    .hd{
        font-size: 1.5em;
    }
    .img2{
        width: 80px;
        height: 80px;
        margin: 15px 0;
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* #56ccF2
#2F80ED */