
 body{
     background-color: #EEE;
 }
 
 #header{
     background-color: rgba(238, 238, 238, 0.514);
     background-size: contain;
 }

 #nav{
     
     list-style: none;
     text-align: right;
     padding: none;
     z-index: 1;
     background-color:#EEE;
     margin: 0 auto;
     width:calc(100%-80px);
 }
   #nav li{
       display:inline-block;
   }

   #nav li a{
       color: black;
       display: block;
       padding:0 25px;
       font-size: 14px;
       line-height: 30px;
       z-index: 1;
       position: relative;
       text-decoration: none;
       
   }

   #Contact{
       text-align: center;
       background-color: #66CCFF;
       color: white;
       max-height: 330px;
   }
   #content{
       padding: 10px;

   }
   #contact1{
       float: left;
       width: 400px;
       background-color: white;
       padding: 10px;
       text-align: left;
   }
   #continfo{
       float: right;
       width:180px;
       background-color: white;
       padding:30px;
       text-align: left;
   }
   #moreinfo{
       float:below;
       float: right;
       width: 180px;
       background-color: white;

   }
   #extra{
       clear: both;
       box-sizing: border-box;
   }
   #container{
       background-color: #EEE;
       width: 800px;
       margin-left: auto;
       margin-right: auto;
   }
   #about{
       box-sizing: border-box;
       float: left;
   }
   #quickmenu{
       box-sizing: border-box;
       float: left;
   }
   #social{
       box-sizing: border-box;
       float: left;
   }
