@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: #121212;
}

.nav-links {
  margin: 0;
  height: 5vh;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.nav-links a {
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  color: white;
  letter-spacing: normal;
}

.nav-links a:hover {
  color: #06f;
  transition: 0.3s;
}

.nav-links .selected {
  color: #06f;
  font-weight: 400;
}

.mobile {
  display: none;
}

.hidden {
  display: none;
}

.adg-logo {
  width: 65%;
}

@media only screen and (max-width: 1020px) {
  .laptop {
    display: none;
  }
  .nav-links{
    display: none;
  }
  .menu {
    height: 80vh;
    background-color: #121212;
    transition: 0.3s;
  }

  .menu-links {
    margin: 0;
    padding: 0;
    height: 90%;
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu-links a {
    color: white;
    text-decoration: none;
  }

  .menu-links a:hover {
    color: #06f;
    transition: 0.3s;
  }

  .menu-links li {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .menu-links .selected {
    color: #06f;
    font-weight: 400;
  }

  .adg-logo {
    margin: 4% 0;
    width: 65%;
  }

  .burger {
    cursor: pointer;
    margin-right: 20px;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #0066ff;
    margin: 5px;
  }

  .mobile {
    display: block;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
  }
}
