@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap");

.footer-wrapper {
  background-color: #121212;
  width: 100%;
}

.footer {
  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer .links {
  display: flex;
  justify-content: space-evenly;
}

.footer .quick-links .ulzz {
  display: flex;
}

.footer p {
  text-align: center;
}

.footer .head {
  font-size: 25px;
  font-weight: 700;
}

.footer ul {
  list-style: none;
  line-height: 200%;
}

.footer ul a {
  color: rgb(230, 217, 217);
  text-decoration: none;
}

.footer ul a:hover {
  color: #0066ff;
  transition: 0.3s;
}
